div#my-div {
	height: 50%;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
article {
	width: 200px;
	height: 300px;
	background-color: #F5F5F5;
	margin: 5px;
	padding: 5px;
}
img {
	width: 100%;
	height: 50%;
}
p {
	text-align: center;
	font-size: 10px;
}
a {
	text-decoration: none;
	color: #F5F5F5;
}
button {
	background-color: yellow;
	border: none;
	cursor: pointer;
	outline: 1px solid #FFFFFFFF;
	border-radius: 2px;
	height: 30px;
	color: #555555;
	padding: 5px;
}
button:hover {
	background-color: #FFFFFFFF;
	outline: 1px solid #000000;
	color: #000000;
}